.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
  /* width: 200px; */
  min-height: 500px;
  margin-right: 20px;
  background-color: var(--light-green);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.column::-webkit-scrollbar {
  display: none;
}


.columnHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font: bold 1rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (width: 2560px) {
  .columnHeader {
    font: bold 25px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.columnHeaderContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.tasksNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-left: auto;
  background-color: var(--medium-green);
  color: var(--strong-green);
  border-radius: 8px;
  font: normal 1rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media (width: 2560px) {
  .tasksNumber {
    width: 40px;
    height: 40px;
    font: normal 25px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.title {
  font: inherit;
  /* font: bold 16px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  color: black;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: var(--medium-green);
  color: var(--strong-green);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (width: 2560px) {
  .inputContainer {
    height: 50px;
    font: normal 25px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.columnInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: var(--medium-green);
  color: var(--strong-green);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (width: 2560px) {
  .columnInfo {
    height: 50px;
    font: normal 25px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.addIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (width: 2560px) {
  .addIcon {
    width: 40px;
    height: 40px;
  }
}

.icon {
  width: 20px;
  height: 20px;
}

@media (width: 2560px) {
  .icon {
    width: 30px;
    height: 30px;
  }
}

.columnContent {
  width: 90%;
  min-height: 100%;
  margin: auto;
}

.taskNameContainer {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: 100%;
}

.taskName {
  font: normal 0.938rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px 5px;
  background-color: inherit;
  outline: none;
  border: none;
  width: 85%;
}

@media (width: 2560px) {
  .taskName  {
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
