.authorizedPageContainer {
  max-width: 1500px;
  min-width: 95%;
  margin: auto;
  min-height: 95%;
  max-height: 1800px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-color: var(--background-green);
}

@media (min-width: 1919px) {
  .authorizedPageContainer {
    max-width: 1500px;
    min-width: 85%;
    margin: auto;
    min-height: 90%;
  }
}

@media (width: 2560px) {
  .authorizedPageContainer {
    max-width: 1500px;
    min-width: 70%;
    margin: auto;
    min-height: 80%;
  }
}

.authorizedPage {
  display: flex;
  width: 100%;
  /* height: 100%;
  margin: auto; */
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: white;
  -webkit-box-shadow: 1px 4px 8px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 4px 8px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 4px 8px 7px rgba(34, 60, 80, 0.2);
}

.authorizedMain {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
