.projectCardContainer {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 160px;
  margin-top: auto;
  margin-left: auto;
  background-color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

@media (max-width: 1025px) {
  .projectCardContainer {
    width: 140px;
    height: 140px;
  }
}

@media (width: 2560px) {
  .projectCardContainer {
    width: 180px;
    height: 180px;
  }
}

.projectCardContent {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

@media (max-width: 1025px) {
  .projectCardContent {
    margin: 10px;
  }
}

@media (width: 2560px) {
  .projectCardContent {
    margin: 10px;
  }
}

.projectCardHeader  {
  display: flex;
  align-items: center;
  width: 100%;
}

.projectType {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (width: 2560px) {
  .projectType {
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
  }
}

.projectTitleContainer {
  display: flex;
  width: 100%;
}

.projectTitle {
  font: bold 0.875rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

@media (max-width: 1025px) {
  .projectTitle {
    font: bold 13px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media (width: 2560px) {
  .projectTitle {
    padding-bottom: 10px;
    font: bold 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}


.caseIcon {
  width: 60px;
  height: 60px;
  margin: auto;
  cursor: pointer;
}

@media (max-width: 1025px) {
  .caseIcon {
    width: 50px;
    height: 50px;
  }
}

@media (width: 2560px) {
  .caseIcon {
    width: 70px;
    height: 70px;
  }
}

.projectDescription {
  font: normal 0.875rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10px;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;

}

.deleteProjectIcon, .showProjectIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

@media (width: 2560px) {
  .deleteProjectIcon, .showProjectIcon {
    width: 25px;
    height: 25px;
  }
}

.showProjectIcon:hover {
  color: var(--strong-green);
}

.deleteProjectIcon:hover {
  color: var(--red);
}

.deadlineContainer {
  display: flex;
  width: max-content;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--input-grey);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.projectDate {
  font: normal 0.875rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
}

@media (max-width: 1025px) {
  .projectDate {
    font: normal 13px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media (width: 2560px) {
  .projectDate {
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
