.googleBtn {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 22px;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  outline: none;
  font: bold 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  background-color: var(--medium-green);
}

@media (width: 2560px) {
  .googleBtn {
    height: 50px;
    font: bold 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.googleIcon {
  margin-right: 10px;
}

@media (width: 2560px) {
  .googleIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: auto;
    font-size: 20px;
  }
}