.addTaskNameContainer {
  display: flex;
  align-items: center;
}

.addTaskIcon {
  width: 1rem;
  height: 1rem;
  margin-left: 20px;
}

@media (max-width: 1025px) {
  .addTaskIcon {
    width: 13px;
    height: 13px;
  }
}

@media (min-width: 2000px) {
  .addTaskIcon {
    width: 20px;
    height: 20px;
  }
}

.addTaskIcon:hover {
  color: var(--strong-green);
  cursor: pointer;
}

.taskName {
  font: normal 0.938rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px 5px;
  border: none;
  outline: none;
}

@media (max-width: 1025px) {
  .taskName {
    font: normal 13px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media (min-width: 2000px) {
  .taskName {
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
