.modal {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  height: 35rem;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

@media (width: 2560px) {
  .modalContent {
    width: 800px;
    height: 800px;
  }
}

.heading {
  font: bold 1.5rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 26px;
}

@media (width: 2560px) {
  .heading {
    font: bold 35px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: none;
}

.dateInput {
  width: 8rem;
  height: 30px;
  padding-left: 5px;
  border: none;
  background-color: var(--input-grey);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font: normal 0.875rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
}

@media (width: 2560px) {
  .dateInput {
    width: 200px;
    height: 50px;
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.btnsContainer {
  display: flex;
  width: 80%;
  border: none;
  margin-top: 25px;
  margin-bottom: 15px;
}

.btnsGroup {
  margin-left: auto;
}

.createBtn {
  background-color: var(--strong-green);
  color: white;
}

@media (width: 2560px) {
  .createBtn, .closeBtn {
    width: 150px;
    height: 50px;
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.closeBtn {
  background-color: var(--medium-green);
  margin-right: 10px;
}

.label {
  font: bold 1rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 14px 0 4px;
}

@media (max-width: 1025px) {
  .label {
    font: bold 1rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media (width: 2560px) {
  .label {
    font: bold 25px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.inputText {
  font-size: 16px;
  height: 40px;
  padding: 10px 16px;
  font-weight: 400;
  line-height: 28px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: var(--input-grey);
  outline: none;
  appearance: none;
  border: none;
  resize: none;
  font: normal 0.938rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (width: 2560px) {
  .inputText {
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.textarea {
  height: 100%;
  font: normal 0.938rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}

@media (width: 2560px) {
  .textarea {
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.textareaContainer {
  height: 50%;
}

.colorsContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputColor {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border: none;
  outline: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

@media (width: 2560px) {
  .inputColor {
    width: 60px;
    height: 60px;
  }
}

.yellow {
  background: var(--yellow);
}

.blue {
  background: var(--blue);
}

.orange {
  background: var(--orange);
}

.pink {
  background: var(--pink);
}

.green {
  background: var(--strong-green);
}

.addTaskNameContainer {
  display: flex;
  align-items: center;
}

@media (width: 2560px) {
  .addTaskIcon {
    width: 20px;
    height: 20px;
  }
}

.addTaskIcon:hover {
  color: var(--strong-green);
  cursor: pointer;
}

.taskName {
  font: normal 0.938rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px 5px;
}

@media (width: 2560px) {
  .taskName {
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.addTaskName {
  width: 80%;
  padding: 10px 16px;
  font: normal 0.938rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
  border: none;
  padding: 5px 5px;
}

@media (width: 2560px) {
  .addTaskName {
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

