.addProjectContainer {
  display: flex;
  width: 160px;
  height: 160px;
  margin-top: auto;
  margin-left: auto;
  /*margin-left: 11px;
  */background-color: white;
  border: 1px dashed var(--nav-grey);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

@media (max-width: 1025px) {
  .addProjectContainer {
    width: 140px;
    height: 140px;
  }
}

@media (width: 2560px) {
  .addProjectContainer {
    width: 180px;
    height: 180px;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, .1fr));
  grid-auto-rows: 180px;
  /* justify-content: center; */
  column-gap: 10px;
  width: 97%;
  height: 80%;
  padding-bottom: 1.25rem;
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow-y: scroll;
  background-color: var(--light-green);
}

@media (max-width: 1025px) {
  .main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(167px, .1fr));
    grid-auto-rows: 180px;
    /* justify-content: center; */
    column-gap: 5px;
  }
}

@media (width: 1366px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(180px, .1fr));
    column-gap: 12px;
  }
}

@media (min-width: 1535px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(200px, .1fr));
    column-gap: 12px;
  }
}

@media (width: 1512px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(200px, .1fr));
    column-gap: 7px;
  }
}

@media (width: 1728px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(190px, .1fr));
    column-gap: 12px;
  }
}

@media (width: 1920px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(190px, .1fr));
    column-gap: 11px;
  }
}

@media (width: 2560px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(210px, .1fr));
    grid-auto-rows: 200px;
    column-gap: 12px;
  }
}

.addProjectContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.addProjectIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: var(--nav-grey);
}

@media (width: 2560px) {
  .addProjectIcon {
    width: 50px;
    height: 50px;
  }
}

.addProjectIcon:hover {
  color: var(--strong-green);
}

.addProjectTitle {
  font: normal 0.938rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (width: 2560px) {
  .addProjectTitle {
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
