.authFormContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  background-color: white;
}

.formField {
  font: bold 16px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 416px;
  height: 82px;
}

@media (width: 2560px) {
  .formField {
    font: bold 25px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 500px;
    height: 100px;
  }  
}

.errorField {
  font: bold 16px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (width: 2560px) {
  .errorField {
    font: bold 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.heading {
  font: bold 1.5rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1.625rem;
}

@media (width: 2560px) {
  .heading {
    font: bold 30px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.form-field_group {
  font: bold 16px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}

@media (width: 2560px) {
  .form-field_group {
    font: bold 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  border: none;
}

.label {
  margin: 14px 0 4px;
}

.main {
  margin: auto;
}

.linkText {
  font: normal 18px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (width: 2560px) {
  .linkText {
    font: normal 35px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.link {
  color: #4f3cc9;
  text-decoration: none;
}

.link:hover {
  color: #3c62c9;
}

.inputText {
  font-size: 16px;
  height: 40px;
  padding: 10px 16px;
  font-weight: 400;
  line-height: 28px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: var(--input-grey);
  outline: none;
  appearance: none;
  border: none;
}

@media (width: 2560px) {
  .inputText {
    font-size: 20px;
    height: 55px;
  }
}

.inputError {
  background-color: var(--error-background);
}

.errorText {
  font-size: 16px;
  color: var(--error-text);
}

@media (width: 2560px) {
  .errorText {
    font-size: 20px;
  }
}

.btnGroup {
  display: flex;
}

.inputBtn {
  height: 40px;
  margin-top: 22px;
  margin-right: 20px;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  outline: none;
  font: bold 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  background-color: var(--strong-green);
  color: white;
}

@media (width: 2560px) {
  .inputBtn {
    height: 50px;
    font: bold 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.nav {
  display: flex;
  padding: 30px 30px 0;
}

.linkContainer {
  margin-left: auto;
}