.listOfTasks {
  display: flex;
  align-items: center;
  width: 40%;
  height: 2.5rem;
  overflow-y: hidden;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); 
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); 
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: white;
}

@media (min-width: 2000px) {
  .listOfTasks {
    height: 60px;
  }
}

.listOfTasks_withTasks {
  flex-direction: column;
  align-items: baseline;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}

@media (min-width: 2000px) {
  .header {
    margin-top: 6px;
  }
}

.title {
  font: bold 0.938rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px 16px;
  border: none;
  outline: none;
}

@media (max-width: 1025px) {
  .title {
    font: bold 13px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media (min-width: 2000px) {
  .title {
    font: bold 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
}

.deleteListIcon, .showTasksIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.addTaskNameContainer {
  display: flex;
  align-items: center;
}

@media (min-width: 2000px) {
  .addTaskNameContainer {
    margin-top: 2px;
  }
}

.addTaskIcon {
  margin-left: 20px;
}

@media (max-width: 1025px) {
  .addTaskIcon {
    width: 13px;
    height: 13px;
  }
}

@media (min-width: 2000px) {
  .addTaskIcon {
    width: 20px;
    height: 20px;
  }
}

.addTaskName {
  padding: 5px 5px;
}


.addTaskName {
  width: 80%;
  font: normal 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
  border: none;
}

@media (max-width: 1025px) {
  .addTaskName {
    font: normal 13px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media (min-width: 2000px) {
  .addTaskName {
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.addTaskIcon:hover {
  color: var(--strong-green);
  cursor: pointer;
}

.show {
  height: max-content;
}

@media (max-width: 1025px) {
  .showTasksIcon, .deleteListIcon {
    width: 17px;
    height: 17px;
  }
}

@media (min-width: 2000px) {
  .showTasksIcon, .deleteListIcon {
    width: 27px;
    height: 27px;
  }
}

.showTasksIcon:hover {
  color: var(--strong-green);
}

.deleteListIcon:hover {
  color: var(--red);
}
