.todoTasksContainer {
  width: 97%;
  height: 80%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: auto;
  background-color: var(--light-green);
}

.listOfTasks {
  display: flex;
  align-items: center;
  width: 40%;
  height: 2.5rem;
  overflow-y: hidden;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); 
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); 
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: white;
}

@media (min-width: 2000px) {
  .listOfTasks {
    height: 60px;
  }
}

.listOfTasksName, .addTaskName {
  width: 80%;
  padding: 10px 16px;
  font: normal 0.938rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
  border: none;
  /* background-color: inherit; */
}

@media (max-width: 1025px) {
  .listOfTasksName, .addTaskName {
    padding: 10px 16px;
    font: normal 13px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media (min-width: 2000px) {
  .listOfTasksName, .addTaskName {
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.addIcon {
  height: 20px;
  width: 20px;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
}

@media (min-width: 2000px) {
  .addIcon {
    height: 30px;
    width: 30px;
  }
}

.addIcon:hover {
  color: var(--strong-green);
  cursor: pointer;
}