.navigation {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  margin-left: 50px;
  border-right: 1px solid var(--input-grey);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin-bottom: 80px;
  margin-top: 50px;
}

.logo {
  width: 50px;
  height: 40px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media (min-width: 2000px) {
  .logo {
    width: 80px;
    height: 65px;
  }
}

.heading {
  font: bold 29px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 1025px) {
  .heading {
    font: bold 24px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media (min-width: 2000px) {
  .heading {
    font: bold 45px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.linkContainer {
  display: flex;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

@media (max-width: 1025px) {
  .linkContainer {
    width: 8rem;
    height: 2.5rem;
  }
}

@media (min-width: 2000px) {
  .linkContainer {
    width: 193px;
    height: 60px;
  }
}

.linkContainer:hover {
  border-radius: 8px;
  background-color: var(--medium-green);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.linksContainer_bottom {
  margin-top: auto;
  margin-bottom: 100px;
}

.linkIcon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

@media (max-width: 1025px) {
  .linkIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

@media (min-width: 2000px) {
  .linkIcon {
    width: 40px;
    height: 40px;
  }
}

.linkText {
  font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 1025px) {
  .linkText {
    font: normal 16px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media (min-width: 2000px) {
  .linkText {
    font: normal 25px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.imgContainer {
  max-width: 200px;
  margin-top: 80px;
}

.img {
  display: block;
  width: 100%;
}
