.authorizedHeader {
  display: flex;
  margin-top: 90px;
  align-items: center;
}

@media (min-width: 2000px) {
  .authorizedHeader {
    margin-top: 150px;
  }
}

.title {
  font: bold 1.5rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 1.25rem;
}

@media (max-width: 1025px) {
  .title {
    font: bold 18px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media (min-width: 2000px) {
  .title {
    font: bold 35px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.userNameContainer {
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
  margin-left: auto;
}

.linkText {
  font: normal 1.125rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 1025px) {
  .linkText {
    font: normal 16px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@media (min-width: 2000px) {
  .linkText {
    font: normal 30px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.userImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--medium-green);
}

@media (min-width: 2000px) {
  .userImg {
    width: 50px;
    height: 50px;
  }
}