*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #e4ebeb;
  
}

:root {
  --strong-green: #51aa9b;
  --medium-green: #e9f1f1;
  --light-green: #f8faf9;
  --background-green: #e4ebeb;
  --nav-grey: #9b9b9b;
  --heading: #060606;
  --input-grey: #f3f3f4;
  --red: #e31c1c;
  --error-background: #fde6e4;
  --error-text: #ea504b;
  --yellow: #fed062;
  --blue: #57c5f3;
  --orange: #f3a176;
  --pink: #f58296;
}

.yellow {
  background: var(--yellow);
}

.blue {
  background: var(--blue);
}

.orange {
  background: var(--orange);
}

.pink {
  background: var(--pink);
}

.green {
  background: var(--strong-green);
}
