.addTaskNameContainer {
  display: flex;
  align-items: center;
}

@media (width: 2560px) {
  .addTaskIcon {
    width: 20px;
    height: 20px;
  }
}


.addTaskIcon:hover {
  color: var(--strong-green);
  cursor: pointer;
}

.taskName {
  font: normal 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px 5px;
  border: none;
  outline: none;
}

@media (width: 2560px) {
  .taskName {
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
