.bigTask {
  display: flex;
  background-color: white;
  width: 100%;
  height: max-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin: auto;
  margin-bottom: 10px;
}

@media (width: 2560px) {
  .bigTask  {
    min-height: 50px;
  }
}


.projectCardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}

.projectCardHeader  {
  display: flex;
  align-items: center;
  width: 100%;
}

.projectType {
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (width: 2560px) {
  .projectType {
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
  }
}

.projectTitle {
  font: bold 0.938rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (width: 2560px) {
  .projectTitle {
    font: bold 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.projectDescription {
  font: normal 0.938rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 10px;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;

}

.deleteProjectIcon, .showProjectIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

@media (width: 2560px) {
  .deleteProjectIcon, .showProjectIcon {
    width: 30px;
    height: 30px;
  }
}

.showProjectIcon:hover {
  color: var(--strong-green);
}

.deleteProjectIcon:hover {
  color: var(--red);
}

.deadlineContainer {
  display: flex;
  width: max-content;
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--input-grey);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.projectDate {
  font: normal 0.938rem "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
}

@media (width: 2560px) {
  .projectDate {
    font: normal 20px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
